button {
    cursor: pointer;
}

.btn-action {
    background: var(--accent-primary);
    color: var(--text-1);
    border: none;
    padding: 1rem 1.75rem;
    border-radius: 999px;
    /* font-weight: 500; */
}

.btn-secondary {
    background: none;
    border: 1px solid var(--border-3);
    color: var(--text-3);
    padding: 1rem 1.75rem;
    border-radius: 999px;
    font-weight: 500;
}