.df { display: flex; }
.fdc { flex-direction: column; }
.aic { align-items: center; }
.ais { align-items: start; }
.aie { align-items: end; }
.jcr { justify-content: right; }
.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.g025 { gap: 0.25rem; }
.g05 { gap: 0.5rem; }
.g075 { gap: 0.75rem; }
.g1 { gap: 1rem; }
.g105 { gap: 1.5rem; }
.g2 { gap: 2rem; }
.g3 { gap: 3rem; }
.g4 { gap: 4rem; }
.mwfc { max-width: fit-content; }
.w100 { width: 100%; }
.tac { text-align: center; }
.tar { text-align: right; }
.tal { text-align: left; }
.f1 { flex: 1; }
.nowrap { white-space: nowrap; }
.mb05 { margin-bottom: 0.5rem; }
.mb1 { margin-bottom: 1rem; }