@import url('/src/stylesheets/shared/Common.css');
@import url('/src/stylesheets/shared/Variables.css');
/* @import url('/src/stylesheets/shared/Buttons.css'); */
@import url('/src/stylesheets/shared/Fonts.css');

html, body, #root { height: 100%; }

#root { margin: 0 auto; }

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background: var(--primary-color);
    color: var(--text-1);
    font-family: var(--font-serif);
    font-size: 62.5%;
    overflow: hidden;
    box-sizing: border-box;
}

h1, .p-xxl { 
    font-size: 3rem; 
}
.p-xl { 
    font-size: 2.5rem; 
}
h2, .p-lg { 
    font-size: 2rem; 
}
p, a, span, div {
    font-size: 1.75rem;
    font-weight: 600;
}
.p-sm, label { 
    font-size: 1.5rem; 
}
.p-xs { 
    font-size: 1.25rem; 
}
.p-600 { 
    font-weight: 600; 
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
    padding: 4rem 2rem;
}

.page-content-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem 2rem;
}

.content-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    img { width: 2.5rem; }
}

.mobile-only { 
    display: none; 
}

.label {
    color: var(--text-2);
}





/* RESPONSIVE DESIGN: LAPTOPS & SMALL DESKTOPS */
@media (max-width: 1024px) {}





/* RESPONSIVE DESIGN: TABLETS */
@media (max-width: 768px)
{
    /* .page-content {
        gap: 4rem;
    } */
    
    h1, .p-xxl { font-size: 2.5rem; }
    .p-xl { font-size: 2rem; }
    h2, .p-lg { font-size: 1.75rem; }
    p, a, span { font-size: 1.5rem; }
    .p-sm, label { font-size: 1.25rem; }
    .p-xs { font-size: 1rem; }
}





/* RESPONSIVE DESIGN: MOBILE */ 
@media (max-width: 480px)
{
    .page-content-center {
        padding: 4rem 2rem 8rem 2rem;
    }

    h1, .p-xxl { 
        font-size: 2.25rem; 
    }

    .page-header {
        img { width: 2rem; }
    }

    .mobile-only { 
        display: block; 
    }
}